body {
    background-image: url("https://i.imgur.com/1b4Pfdr.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /* Các thuộc tính CSS khác để tùy chỉnh background nếu cần */
}

header {
    /* CSS code for styling header */
}

main {
    /* CSS code for styling main content */
}

footer {
    /* CSS code for styling footer */
}
